html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #1f2124;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    height: 100%;
    --sidebarheight: 12%
}

h1 {font-size:1.8rem;}
object{color: white;}
a{color: rgb(214, 211, 255)}
a:hover{color: rgb(182, 177, 255)}
a:visited{color: rgb(182, 177, 255)}

aside{
    background-color: rgb(63, 0, 105);
    background-image: url("images/trianglify.png");
	width: 100%;
}

.card-no-border{
    border: 1px solid rgba(0,0,0,0);
}

.tech-img{
    object-fit:fill;
}


#self-pic-li{
	height: auto;
}

#self-pic{
    align-items: center;
    border-radius: 50%;
	width: 10vh;
}

#tech-cards{
    text-align: center;
}

.top-img{
    height:3.5vh;
    width:3.5vh;
    cursor: pointer;
    margin-right: 10%;
}


.content-section{
    margin-bottom: 3vh;
}
.content-section h3{
    margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {  
    #img-fastgeo:hover{
        padding-bottom: 300px;
        transition: 0.2s;
    }
    #self-pic-li #self-pic{
        height: 10vh;
    }
    .name-header{
        padding-top: 5%;
    }
    #img-fastgeo{
        height: 170px;
        object-fit: cover;
    }
	main{
		margin: 0;
	}
}

@media screen and (min-width: 768px) {
    #img-fastgeo{
        height: 350px;
        object-fit: cover;
    }
    .links{
        text-align: center;
        margin: 5% 0 1% 0;
    }
	main{
		margin: 0;
	}
}

@media screen and (min-width: 992px){
    aside{
        max-height: var(--sidebarheight);
		padding: 0 30% 0 30%;
    } 
    #page-content{
        height: calc(100% - var(--sidebarheight));
    }
	#page-content{
		padding: 2% 30% 0 30%;
	}
}

.proj-card{
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.proj-card:hover {
    cursor: pointer;
    background: rgba(0,0,0,.6);
}
.proj-card:hover p{
    opacity: 1;
}
.proj-card p{z-index: 2;transition: all 1s ease; opacity: 0;}
.proj-card h5{color:white; text-shadow: 1px 1px 2px black;}

#proj-card-fastgeo:hover{
    cursor: default;
    background: rgba(0,0,0,.8);
}
