html{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #1f2124;
    color:#fff;
    font-family: 'Verdana', sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    height: 100%;
    --sidebarwidth: 12%
}

h1 {font-size:1.8rem;}
object{color: white;}
a{color: rgb(214, 211, 255)}
a:hover{color: rgb(182, 177, 255)}
a:visited{color: rgb(182, 177, 255)}

aside{
    background-color: rgb(63, 0, 105);
    background-image: url("images/trianglify.png");
    background-size: 100%;
}

.tech-img{
    object-fit:fill;
}

#self-pic{
    align-items: center;
    border-radius: 50%;
}

#tech-cards{
    text-align: center;
}

.top-img{
    height:3.5vh;
    width:3.5vh;
    cursor: pointer;
    margin-right: 5%;
}

#page-content{
    padding: 2% 5% 0 5%;
}

.content-section{
    margin-bottom: 3vh;
}
.content-section h3{
    margin-bottom: 2vh;
}

@media screen and (max-width: 600px) {  
    #img-fastgeo:hover{
        padding-bottom: 300px;
        transition: 0.2s;
    }
    #self-pic-li #self-pic{
        height: 10vh;
    }
    .links{
        padding: 2% 0 0 0;
    }
    .location{
        display: none;
    }
    .links{
        text-align: center;
    }
    .name-header{
        padding-top: 5%;
    }
    #img-fastgeo{
        height: 170px;
        object-fit: cover;
    }
}

@media screen and (min-width: 768px) {
    #self-pic-li{
        height: auto;
    }
    #self-pic{
        height: auto;
        width: 100%;
        margin: 1.5vh auto 0 auto;
    }
    aside{
        max-width: calc(var(--sidebarwidth) * 1.2) ;
    } 
    #img-fastgeo{
        height: 350px;
        object-fit: cover;
    }
    .links{
        text-align: center;
        margin: 5% 0 1% 0;
    }
}

@media screen and (min-width: 992px){
    aside{
        max-width: var(--sidebarwidth);
    } 
    #page-content{
        width: calc(100% - var(--sidebarwidth));
    }
}

.proj-card{
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.proj-card:hover {
    cursor: pointer;
    background: rgba(0,0,0,.6);
}
.proj-card:hover p{
    opacity: 1;
}
.proj-card p{z-index: 2;transition: all 1s ease; opacity: 0;}
.proj-card h5{color:white; text-shadow: 1px 1px 2px black;}

#proj-card-fastgeo:hover{
    cursor: default;
    background: rgba(0,0,0,.8);
}
